@import "./_colors";

.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: $text-primary-color;
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 500;
  align-self: flex-start;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.generator {
  height: 330px;
  width: 610px;
  border: 1px solid $borders-color;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxLabel {
  color: $text-primary-color;
}

.config {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.generateButton {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $borders-color;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 24px;
}

.history {
  width: 610px;
  border: 1px solid $borders-color;
  border-radius: 8px;
  padding: 20px;
}

.results {
  max-height: 340px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.result {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-primary-color;
  padding: 20px;
}

.copyButton {
  cursor: pointer;
}
